@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  background-color: #171717;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}
